@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 320px) {
  #__next {
    display: flex
  }
}


.landing { 
  
    margin: 0;
    padding: 0;
    background-image: url('/background.webp');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
  
}

.header-title-bg{
  width: 100%; 
  height: 200px; 
  background-image: url('/restaurant-bg.jpg'); 
  background-size: cover; 
  background-position: center top; 
  overflow: hidden; 
  position:relative;
  
}

.header-title{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-categories::-webkit-scrollbar {
  display: none;
}


.nav-categories {
  scrollbar-width: none; 
}

.nav-categories {
  -ms-overflow-style: none; 
}

.loader {
  border: 8px solid #f3f3f3; 
  border-top: 8px solid #4F46E5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input[type="file"]{
display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


table{
  border-collapse: collapse;
  background-color: white;
 
}
.table-container-2{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
th{
  padding: 1.25rem 2rem;
  background-color: #1E3A8A;
  color: white;
  font-weight: 400;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  

}
tr{
  border-bottom: 1px solid #dedede;
}
td{
  color: black;
  padding: 0rem 0.5rem;
}

#admin-panel-bg,#menu-panel-bg,#loading-screen{
  
  background-image: url(/bg-image.png);
}

.table-container-2::-webkit-scrollbar {
  height: 4px; 
  width: 4px;  
}

.table-container-2::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
}

.table-container-2::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

.table-container-2::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.table-container-2{
  max-height: 500px;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .table-container {
    
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
  }
}